@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 5px;
    color: black;
    font-family: Azeret Mono;
}
section{
    width: 90%;
    margin-top: 80px;
    margin-left: 5%;
}
button{
    justify-content: center;
    background-color: lightsteelblue;
    padding: 5px 10px;
    border-radius: 5px;
}
.title{
    width: 70%;
    margin: 20px 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}
nav > ul > li{
    display: inline;
}
#butn{
    margin-left: 80%;
}
nav li > a, button > a{
    text-decoration: none;
}
#banner{
    background-image: url(../assets/Hero-bg.png);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 98%;
    margin-left: 1%;
    padding: 3% 0;
}
#banner img{
    height: 180px;
    width: 170px;
    margin-left: 45%;
}